<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/assets/css/preloader.css" />
<script src="/assets/js/preloader.js"></script>

<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/vendor/slick.css" />
<link rel="stylesheet" href="/assets/css/vendor/floating.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<title>Cyenosure Enter the Technoverse</title>
<link rel="icon" href="/assets/images/img/Cyenosure lo.png" type="image/gif" sizes="20x20">

</head>
<body id="home-3">

  <div class="preloader-container" id="preloader">
    <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    </div>
    </div>
 
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>
    <div class="vertical-centered-box">
    <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
    <div class="loader-line"></div>
    </div>
  
    </div>
    </div>
    </div>

    







<section class="not-found s-padding">
<div class="thumb">
<img src="/assets/images/thumbs/not-found.png" alt />
</div>
<div class="content">
<h2 class="s-title">Oops! Page Not Found.</h2>
<a href="/" class="btn btn-s1">Back to Home Page</a>
</div>
</section>






<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/vendor/font-awesome.min.js"></script>
<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/counterup.min.js"></script>
<script src="/assets/js/vendor/isotope.min.js"></script>
<script src="/assets/js/vendor/youtube.api.js"></script>
<script src="/assets/js/videoPopup.js"></script>
<script src="/assets/js/vendor/gsap.min.js"></script>
<script src="/assets/js/vendor/scrollTrigger.min.js"></script>
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>


</html>
