<footer class="footer-s1">
  <div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-5a323cd6-4ef3-435d-ac56-89bac958eaff"></div>
  </div>
    <div class="container" style="padding-bottom: 5em;">
    
    <div class="row f-main">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <img src="/assets/images/img/Cyenosure1.png">
       </div>
      <div class="col-xl-3 col-lg-6">
        <div class="tb-single-info">
          <div class="icon">
          <i class="fa-solid fa-phone"></i>
          </div>
          <div class="content">
          <span style="color: aliceblue;">Phone Number</span>
          <p><a href="tel:88 ( 5548 ) 6548" style="color: aliceblue;">+91 9742 039353</a></p>
          </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="tb-single-info">
          <div class="icon">
          <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="content">
          <span style="color: aliceblue;">Email Address</span>
          <p>
          <a href="mailto:cyenosure@gmail.com"><span class="__cf_email__" style="color: aliceblue;">cyenosure@gmail.com</span></a>
          </p>
          </div>
          </div>
      </div>
    
      <div class="col-xl-3 col-lg-6">
        <div class="tb-single-info">
          <div class="icon">
          <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="content">
          <span style="color: aliceblue;">Location</span>
          <p>
          <a style="color: aliceblue;">kalamassery,Kochi</a
                              >
          </p>
          </div>
          </div>
      </div>
      </div>
    
      <div class="row" style="padding-top:5em ;">
       
    
        <div class="col-xl-3 col-lg-6">
          <ul>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Web development</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Software Development</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Mobile-App Development</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Web Design</a></li>
          </ul>
        </div>
    
        <div class="col-xl-3 col-lg-6">
          <ul>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">office365</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">G-suite</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Sms Integration</a> </li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">whatsapp-api</a></li>
    
          </ul>
        </div>
    
        <div class="col-xl-3 col-lg-6">
          <ul>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Hosting</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Domain</a></li>
            <li style="margin: 1em; color: aliceblue;"><a href="/service">Server</a></li>
          </ul>
        </div>
    
        <div class="col-xl-3 col-lg-6">
          <ul class="social-icons-s1">
            <li><a href="https://www.facebook.com/profile.php?id=61550527733900"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li> <a href="https://www.facebook.com/QuomodoSoft"><i class="fa-brands fa-twitter"></i></a></li> 
            <li><a href="https://www.facebook.com/QuomodoSoft"><i class="fa-brands fa-linkedin-in"></i></a> </li>
            <li><a href="https://www.instagram.com/cyenosuretechnoverse/"><i class="fa-brands fa-instagram"></i></a></li> 
    
          </ul>
        </div>
    
      </div>
    
    </div>
    
    
    </div>
    
    </div>
    
    </div>
    
    </footer>