<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/assets/css/preloader.css" />
<script src="/assets/js/preloader.js"></script>

<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/vendor/slick.css" />
<link rel="stylesheet" href="/assets/css/vendor/floating.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<title>Cyenosure Enter the Technoverse</title>
<link rel="icon" href="/assets/images/img/Cyenosure lo.png" type="image/gif" sizes="20x20">

</head>
<body class="productbody" id="products">

  <div class="preloader-container" id="preloader">
    <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    </div>
    </div>
 
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>
    <div class="vertical-centered-box">
    <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
    <div class="loader-line"></div>
    </div>
  
    </div>
    </div>
    </div>

    

    <header style="background-color: #fff;"><%-include('./header')%></header>

<!-- cargo Managment -->

<section class="project-slider-area-s2 s-padding">
    <div class="container"><div class="s-title-wrap">
       
        <h2 class="s-title" style="color: #fff;font-weight: 900;">CARGO MANAGEMENT</h2>
        <p style="color: #fff;">Cargo Management refers to the handling of activities in the logistic centres and warehouse which 
          includes transporting cargo, unloading cargo, picking, sorting and warehousing.Elevate your logistics operations with Cargo 
          Management, a comprehensive software solution designed to optimize every aspect of cargo handling and transportation. Seamlessly
           integrated and user-friendly, Cargo Management simplifies complex logistics processes, delivering efficiency, accuracy, and 
           visibility from origin to destination.</p>
        </div>
    <div class="row project-slider-container-s2">
      
    <div class="col-lg-4">
      <img src="/assets/images/img/product1/tripsheet.PNG" style="height: 10em;">
      <h6 style=" color: #fff;">Tripsheet</h6>
    </div>
    <div class="col-lg-4">
      <img src="/assets/images/img/product1/consignment.PNG" style="height: 10em;">
      <h6 style=" color: #fff;">Consignment</h6>
    </div>
    <div class="col-lg-4">
      <img src="/assets/images/img/product1/cargo booking.PNG" style="height: 10em;">
      <h6 style=" color: #fff;">Cargo Booking</h6>
    </div>
    <div class="col-lg-4">
      <img src="/assets/images/img/product1/Tracking.PNG" style="height: 10em;">
      <h6 style=" color: #fff;">Tracking</h6>
    </div>
   
    </div>

    </div>
    </section>


    <!-- Staff tracking system-->
<section class="project-slider-area-s2 s-padding">
        <div class="container"><div class="s-title-wrap">
           
            <h2 class="s-title" style="color: #fff; font-weight:900;">STAFF ACTIVITY TRACKING SYSTEM</h2>
            <p style="color: #fff;">Staff Activity Tracking system is an 
                advanced field executives / staff’s automatic 
                attendance management and realtime 
                tracking software This application can track 
                physical Activity, GPS Location (In Realtime), 
                WIFI Status, Battery Status and GPS Status. 
                Admin panel control , leave management , 
                chat system , various reports etc. Live Location View: Realtime map view of employees (using google maps) 
                Card View: real time employees device status (battery percentage, WIFI status, 
                and more). 
                TimeLine View: employee’s activity as a timeline with polyline map and markers 
                of where they stayed and travel route for the day (it can track walk, still, traveling) 
                with geolocation and device status such as WIFI, battery percentage, and more) 
                 </p>
            </div>
        <div class="row project-slider-container-s2">
          
        <div class="col-lg-4">
          <img src="/assets/images/img/Staffpro/1.Dashboard.png" style="height: 13em;">
          <!-- <h6 style=" color: #fff;">Dashboard</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/Staffpro/10.Expense_Page.png" style="height: 13em;">
          <!-- <h6 style=" color: #fff;">Expense_Page</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/Staffpro/11.Leave_Page.png" style="height: 13em;">
          <!-- <h6 style=" color: #fff;">Attandance Page </h6> -->
        </div>
        
        <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/13.Roles_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">User Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/14.Reports_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Reports Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/15.Public_Holidays_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Public Holidays Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/17.Notification_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Notification Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/2.Live Location.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Live Location Tracking Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/3.CardView.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">user page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/4.TimeLine_View.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">User page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/6.Create_Employee_View.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Create Employee Page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/7.Schedules_View.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Task Schedules page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/8.Team_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">User page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/9.Team_Chat_Page.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Team chating page</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/Mobile_App_1.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Mobile App View</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/Mobile_App_2.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Mobile App View</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/Mobile_App_3.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Mobile App View</h6> -->
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/img/Staffpro/Mobile_App_4.png" style="height: 13em;">
            <!-- <h6 style=" color: #fff;">Mobile App View</h6> -->
          </div>

       
        </div>
        </div>
    </section>            

    <section class="project-slider-area-s2 s-padding">
        <div class="container"><div class="s-title-wrap">
           
            <h2 class="s-title" style="color: #fff;font-weight:900;">DOCTORS APP</h2>
          <p style="color: #fff;">Introducing Doctors App – Your Health in Your Hands. Our innovative and user-friendly mobile application
             empowers you to take control of your healthcare journey with ease and convenience. With Doctors App, connecting with medical
              professionals, managing appointments, and accessing essential health information has never been simpler.
              Doctors App revolutionizes the way you interact with healthcare. It's time to put your well-being in your hands.
              Find and Connect with Doctors: Browse through a diverse range of medical specialists, view their profiles, and choose the one that fits your needs.

              Instant Appointments: Book appointments seamlessly, avoiding long waiting times and getting the care you need, when you need it.
              
              Virtual Consultations: Experience the future of healthcare with virtual appointments that allow you to consult with doctors from the comfort of your home.
              
              Prescription Management: Access and manage your prescriptions digitally, making medication tracking and refills hassle-free.
              
              Health Records Access: Keep track of your medical history, test results, and diagnoses securely in one place.
              
              Health Reminders: Stay on top of your health with personalized reminders for appointments, medication doses, and more.</p>

            </div>
        <div class="row project-slider-container-s2">
          
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc1.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tripsheet</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc2.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Consignment</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc3.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Cargo Booking</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc4.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tracking</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc5.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tracking</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc1.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tripsheet</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc2.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Consignment</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc3.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Cargo Booking</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc4.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tracking</h6> -->
        </div>
        <div class="col-lg-4">
          <img src="/assets/images/img/product1/doc5.jpg" style="height: 20em;">
          <!-- <h6 style=" color: #fff;">Tracking</h6> -->
        </div>
        </div>
        </div>
        </section>
        

        <footer><%-include('./footer')%></footer>
                

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/vendor/font-awesome.min.js"></script>
<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>
<script src="/assets/js/vendor/counterup.min.js"></script>
<script src="/assets/js/vendor/isotope.min.js"></script>
<script src="/assets/js/vendor/youtube.api.js"></script>
<script src="/assets/js/videoPopup.js"></script>
<script src="/assets/js/vendor/gsap.min.js"></script>
<script src="/assets/js/vendor/scrollTrigger.min.js"></script>
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/preloader.js"></script>
</body>

</html>



